media/imagesets/vanilla.png
media/materials/textures/textura_casilla_blanca.jpg
media/materials/textures/textura_casilla_negra.jpg
media/materials/textures/textura_marmol_gris.jpg
media/materials/textures/textura_marmol_negro_vetas_blancas.jpg
media/materials/textures/textura_tablero.jpg
dist/media/imagesets/vanilla.png
dist/media/materials/textures/textura_casilla_blanca.jpg
dist/media/materials/textures/textura_casilla_negra.jpg
dist/media/materials/textures/textura_marmol_gris.jpg
dist/media/materials/textures/textura_marmol_negro_vetas_blancas.jpg
dist/media/materials/textures/textura_tablero.jpg
